.App .header {
  display: flex;
  align-items: center;
  background-color: #1876f2;
}
.App header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.App header .title {
  font-size: 25px;
}
.App header .center {
  display: flex;
  justify-content: space-between;
}
.App header a {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: rgb(41, 41, 41);
}
.App header a:hover {
  border-bottom: 2px solid #1876f2;
}
.App header .center svg {
  color: white;
  font-size: 22px;
}
