.App .header {
  display: flex;
  align-items: center;
  background-color: #1876f2;
}
.App header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.App header .title {
  font-size: 25px;
  color: white;
}
.App header .center {
  display: flex;
  justify-content: space-between;
}
.App header a {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.App header a:hover {
  border-bottom: 4px solid white;
}
.App header a.clicked {
  border-bottom: 4px solid white;
}
.App header .center svg {
  color: white;
  font-size: 22px;
}
.App header .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.App header .right .search input {
  border-radius: 30px;
  padding: 5px 20px;
  outline: none;
  border: none;
}
.App header .right .profile-pic img {
  width: 50px;
}
