* {
  box-sizing: border-box;
}

/* Start header */
.App .app-header {
  display: flex;
  align-items: center;
  background-color: #1876f2;
}
.App header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.App header .title {
  font-size: 25px;
  color: white;
}
.App header .center {
  display: flex;
  justify-content: space-between;
}
.App header a {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.App header a:hover {
  border-bottom: 4px solid white;
}
.App header a.clicked {
  border-bottom: 4px solid white;
}
.App header .center svg {
  color: white;
  font-size: 22px;
}
.App header .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.App header .right .search input {
  border-radius: 30px;
  padding: 5px 20px;
  outline: none;
  border: none;
}
.App header .right .profile-pic img {
  width: 50px;
}
/* Start Home */
.App main.home {
  display: flex;
  justify-content: space-between;
}
/* Start  Home left */
.App main.home .left {
  width: 20%;
  padding: 10px;
}
.App main.home .left h4 {
  color: gray;
}
.App main.home .left .content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

/* Start Home center */
.App main.home .center {
  width: 40%;
}
.App .posts .post {
  padding: 10px 0;
  margin-bottom: 20px;
}
.App .posts .post .comment .comment-header,
.App .posts .post .post-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.App .posts .post .post-header img {
  width: 40px;
}
.App .posts .post .post-header h4 {
  font-size: 17px;
}
.App .posts .post .post-main {
  padding: 10px;
}
.App .posts .post .post-footer {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(77, 77, 77);
  border-left-color: transparent;
  border-right-color: transparent;
}
.App .posts .post .comment .react,
.App .posts .post .post-footer .react {
  display: flex;
  gap: 10px;
}
.App .posts .post .comment .react button,
.App .posts .post .post-footer .react button {
  border: none;
  outline: none;
  background-color: transparent;
}
.App .posts .post .post-footer .share {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  cursor: pointer;
}
.App .posts .type-comment form {
  border-radius: 20px;
  margin: 5px 20px;
  overflow: hidden;
  background-color: rgb(190, 190, 190);
  display: flex;
  justify-content: space-between;
}
.App .posts .type-comment form input {
  border: none;
  outline: none;
  padding: 10px 20px;
  background-color: inherit;
  width: 100%;
}
.App .posts .type-comment form button {
  border: none;
  outline: none;
  background-color: inherit;
  padding-right: 15px;
}
.App .post .comments .comment {
  padding: 10px;
  display: flex;
  gap: 10px;
}
.App .post .comment-left img {
  width: 30px;
}
.App .post .comment-right {
  display: flex;
  flex-direction: column;
}
.App .post .comment-right h4 {
  font-size: 15px;
}
.App .post .comment-right .content {
  background-color: rgb(197, 197, 197);
  border-radius: 20px;
  padding: 5px;
}
.App .post .comment-right span,
.App .post .comment-right svg {
  font-size: 12px;
}
.App .post .show-more {
  cursor: pointer;
}
/* Start Home right */
.App main.home .right {
  padding: 10px;
  width: 20%;
}
.App main.home .right h4 {
  color: gray;
}
.App main.home .right .ads {
  display: flex;
  flex-direction: column;
}
.App main.home .right .ads .ad {
  margin-top: 20px;
}
.App main.home .right .ads .ad .content {
  display: flex;
  gap: 20px;
  align-items: center;
}
.App main.home .right .ads .ad .content img {
  width: 100px;
}
